body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quiz_box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 100vh;
  width: 100%;
 
}

.quiz_questions {
  font-size: 2rem;
  font-weight: 700;
  background-color: antiquewhite;
  color: black;
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50%;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.5);

}
.quiz_ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 1rem;
  text-align: center;
  
}
.quiz_li {
  padding: .5rem 3rem;
  border: 2px solid red;
  margin: 1rem 2.5rem;
  border-radius: 10px;
  background-color: brown;
  color: aqua;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;

}
.quiz_li:hover{
  box-shadow: 5px 5px 10px aqua;
}